body {
  width: 960px;
  margin: 30px auto;
}
main {
display: flex;
}

.padding_this{
padding: 15px;
}

.logo,
.navigasi,
.isi,
.batis {
margin-bottom: 5px;
padding: 15px 0;
}

.logo {
  width: 100%;
  height: auto;
  background: #008B8B;
  text-align: center;
  color: #FFF8DC;
}
.navigasi {
  width: 100%;
  height: auto;
  background: #008B8B;
  text-align: center;
}
.isi {
  width: 100%;
  background: #F0E68C;
}
.batis {
  width: 100%;
  background: #C3C3C3;
  text-align: center;
}

.navigasi ul{
padding: 0;
list-style: none;
display: inline-block;
margin: 0;
}
.navigasi li{
float: left;
margin: 0 10px;
}
